

body{
    overflow-x: hidden;
}
body header {
    height: 60px;
    z-index: 1;
    background-color: white;}

ul li a{
  text-decoration: none;
  color: rgb(0, 175, 0);
}
.background_service{
  background: url("../img/background_service.png") no-repeat fixed center;
}
.logo{
    height: 30px;

}
.img_icon{
    height: 50px;
    width: 69px;
}
.logo_insta{
  width: 30%;
  height: 30%;
  margin-top: 15%;
  margin-bottom: 12%;
  object-fit: cover;
}
.carousel-wrap {
  margin: 0px auto;
  padding: 0 0;
  width: 100%;
  position: relative;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
  position: relative;
  z-index: 100; 
  -webkit-backface-visibility: hidden; 
}
.card-body{
 border: 1px solid rgba(58, 58, 58, 0.2);
 border-radius: 0px;
}
.card-img_top{
 /* object-fit: cover; */
}
/* end fix */
.owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.owl-nav i {
  font-size: 52px;
}

.owl-nav .owl-prev {
  left: -30px;
}

.owl-nav .owl-next {
  right: -30px;
}
.green_back{
  color: white;
  background-color:  rgb(25, 180, 25);
}
.gg{
  

}
/* Button */
button {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  outline: 0;
}

.paginate {
  position: relative;
  margin: 0px;
  width: 35px;
  height: 80px;
  cursor: pointer;
  transform: translate3d(0, 0, 0);
  position: absolute;
  top: 35%;
  margin-top: -20px;
  -webkit-filter: drop-shadow(0 2px 0px rgba(68, 66, 66, 0.2));
}
.paginate i {
  position: absolute;
  top: 40%;
  left: 0;
  width: 35px;
  height: 4px;
  border-radius: 2.5px;
  background: rgb(25, 180, 25);
  transition: all 0.15s ease;
}
.paginate.left {
  left: 0px;
}
.paginate.left i {
  transform-origin: 0% 50%;
}
.paginate.left i:first-child {
  transform: translate(0, -1px) rotate(40deg);
}
.paginate.left i:last-child {
  transform: translate(0, 1px) rotate(-40deg);
}
.paginate.left:hover i:first-child {
  transform: translate(0, -1px) rotate(30deg);
}
.paginate.left:hover i:last-child {
  transform: translate(0, 1px) rotate(-30deg);
}
.paginate.left:active i:first-child {
  transform: translate(1px, -1px) rotate(25deg);
}
.paginate.left:active i:last-child {
  transform: translate(1px, 1px) rotate(-25deg);
}
.paginate.left[data-state=disabled] i:first-child {
  transform: translate(-5px, 0) rotate(0deg);
}
.paginate.left[data-state=disabled] i:last-child {
  transform: translate(-5px, 0) rotate(0deg);
}
.paginate.left[data-state=disabled]:hover i:first-child {
  transform: translate(-5px, 0) rotate(0deg);
}
.paginate.left[data-state=disabled]:hover i:last-child {
  transform: translate(-5px, 0) rotate(0deg);
}
.paginate.right {
  right: 0px;
}
.paginate.right i {
  transform-origin: 100% 50%;
}
.paginate.right i:first-child {
  transform: translate(0, 1px) rotate(40deg);
}
.paginate.right i:last-child {
  transform: translate(0, -1px) rotate(-40deg);
}
.paginate.right:hover i:first-child {
  transform: translate(0, 1px) rotate(30deg);
}
.paginate.right:hover i:last-child {
  transform: translate(0, -1px) rotate(-30deg);
}
.paginate.right:active i:first-child {
  transform: translate(1px, 1px) rotate(25deg);
}
.paginate.right:active i:last-child {
  transform: translate(1px, -1px) rotate(-25deg);
}
.paginate.right[data-state=disabled] i:first-child {
  transform: translate(5px, 0) rotate(0deg);
}
.paginate.right[data-state=disabled] i:last-child {
  transform: translate(5px, 0) rotate(0deg);
}
.paginate.right[data-state=disabled]:hover i:first-child {
  transform: translate(5px, 0) rotate(0deg);
}
.paginate.right[data-state=disabled]:hover i:last-child {
  transform: translate(5px, 0) rotate(0deg);
}
.paginate[data-state=disabled] {
  opacity: 0.3;
  cursor: default;
}

/* hover */

.view {
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.view .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0
}
.view .mask1 {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0
}

.view img {
  display: block;
  position: relative
}



.view a.info {
  display: inline-block;
  text-decoration: none;
  padding: 1.5% 7%; 
  background: #fff;
  color: #000;
  font-family: sans-serif, serif;
  text-transform: uppercase;
}
.view a.info1 {
  display: inline-block;
  text-decoration: none;
  /* padding: 1.5% 20%; */
  width: 100%;
  background: rgb(53, 165, 49);
  color: #fff;
  font-family: sans-serif, serif;
  text-transform: uppercase;
}

.view a.info:hover {
  box-shadow: 0 0 5px #000
}


/*1*/

.view-first img {
  /*1*/
  transition: all 0.2s linear;

}

.view-first .mask {
  opacity: 0;
  background-color: rgba(58, 58, 58, 0.2);
  transition: all 0.4s ease-in-out;
}
.view-first .mask1 {
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.4s ease-in-out;
}

.view-first a.info {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.view-first a.info1 {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}


/* */

.view-first:hover img {
  transform: scale(1.1);
}

.view-first:hover .mask {
  opacity: 1;
}
.view-first:hover .mask1 {
  opacity: 1;
}

.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
  opacity: 1;
  transform: translateY(0px);
}
.view-first:hover a.info1 {
  opacity: 1;
  transform: translateY(0px);
}

.view-first:hover p {
  transition-delay: 0.1s;
}

.view-first:hover a.info {
  transition-delay: 0.2s;
}
.view-first:hover a.info1 {
  transition-delay: 0.2s;
}
.hover_product{
  margin-left: 10%;
  margin-top: 12%;
  width: 80%;
}
.filter_box{
  height: 60px;
}
.btn_{
  height: 25px;
  width: 110px;
}
del {
  color: gray;
}
.checkout_logo{
  height: 25px;
  width: 42px;
  object-fit: contain;
}